<table class="table mdl-data-table mdl-js-data-table">
    <thead>
      <tr>
        <th class="mdl-data-table__cell--non-numeric">Name</th>
        <th>Age</th>
        <th>ID Number</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Don Aubrey</td>
        <td>25</td>
        <td>49021</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Sophia Carson</td>
        <td>32</td>
        <td>10258</td>
      </tr>
      <tr>
        <td class="mdl-data-table__cell--non-numeric">Steve Moreno</td>
        <td>29</td>
        <td>12359</td>
      </tr>
    </tbody>
  </table>